{
  "presets": [
    [
      "@babel/preset-env", {
      "targets": {
        "node": "current"
      }
    }
    ],
    "@babel/react",
    "@babel/preset-flow"
  ],
  "plugins": [
    [
      "react-css-modules",
      {
        "filetypes": {
          ".scss": {
            "syntax": "postcss-scss",
            "plugins": [
              "postcss-nested"
            ]
          }
        },
        "generateScopedName": "[name]__[local]__[hash:base64:5]",
        "webpackHotModuleReloading": true,
        "autoResolveMultipleImports": true
      }
    ],
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-proposal-export-default-from",
    "@babel/plugin-proposal-class-properties"
  ]
}
