$global-spacing-unit: 10px;

$global-z-index-sidebar: 10;
$global-z-index-content: 9;
$global-z-index-background: 0;

$global-spacing-xl: $global-spacing-unit * 8;
$global-spacing-l: $global-spacing-unit * 4;
$global-spacing-m: $global-spacing-unit * 2;
$global-spacing-s: $global-spacing-unit;

$global-sidebar-width: 395px;

$global-color-text-dark: #031211;
$global-color-text-light: #474c52;
$global-color-primary: #3772ff;
$global-color-accent: #d62246;
$global-color-bg-light: #f1faee;
$global-color-bg-dark: #3d05c0;
